-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: livingspring_cbt_subjects
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `agricultural_science_jss1_first_term`
--

DROP TABLE IF EXISTS `agricultural_science_jss1_first_term`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `agricultural_science_jss1_first_term` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agricultural_science_jss1_first_term`
--

LOCK TABLES `agricultural_science_jss1_first_term` WRITE;
/*!40000 ALTER TABLE `agricultural_science_jss1_first_term` DISABLE KEYS */;
/*!40000 ALTER TABLE `agricultural_science_jss1_first_term` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agricultural_science_jss1_second_term`
--

DROP TABLE IF EXISTS `agricultural_science_jss1_second_term`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `agricultural_science_jss1_second_term` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agricultural_science_jss1_second_term`
--

LOCK TABLES `agricultural_science_jss1_second_term` WRITE;
/*!40000 ALTER TABLE `agricultural_science_jss1_second_term` DISABLE KEYS */;
/*!40000 ALTER TABLE `agricultural_science_jss1_second_term` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agricultural_science_ss3_assignment_anything`
--

DROP TABLE IF EXISTS `agricultural_science_ss3_assignment_anything`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `agricultural_science_ss3_assignment_anything` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agricultural_science_ss3_assignment_anything`
--

LOCK TABLES `agricultural_science_ss3_assignment_anything` WRITE;
/*!40000 ALTER TABLE `agricultural_science_ss3_assignment_anything` DISABLE KEYS */;
/*!40000 ALTER TABLE `agricultural_science_ss3_assignment_anything` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agricultural_science_ss3_first_term`
--

DROP TABLE IF EXISTS `agricultural_science_ss3_first_term`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `agricultural_science_ss3_first_term` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agricultural_science_ss3_first_term`
--

LOCK TABLES `agricultural_science_ss3_first_term` WRITE;
/*!40000 ALTER TABLE `agricultural_science_ss3_first_term` DISABLE KEYS */;
/*!40000 ALTER TABLE `agricultural_science_ss3_first_term` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assessment_configs`
--

DROP TABLE IF EXISTS `assessment_configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assessment_configs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `teacher_user_id` int(11) NOT NULL,
  `subject` varchar(80) NOT NULL,
  `student_class` varchar(20) NOT NULL,
  `task_type` varchar(20) NOT NULL,
  `header_text` varchar(160) DEFAULT NULL,
  `term_key` varchar(20) DEFAULT NULL,
  `duration_seconds` int(11) DEFAULT NULL,
  `question_limit` int(11) DEFAULT NULL,
  `table_name` varchar(80) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `table_name` (`table_name`)
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assessment_configs`
--

LOCK TABLES `assessment_configs` WRITE;
/*!40000 ALTER TABLE `assessment_configs` DISABLE KEYS */;
/*!40000 ALTER TABLE `assessment_configs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `basic_science_jss1_first_term`
--

DROP TABLE IF EXISTS `basic_science_jss1_first_term`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `basic_science_jss1_first_term` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `basic_science_jss1_first_term`
--

LOCK TABLES `basic_science_jss1_first_term` WRITE;
/*!40000 ALTER TABLE `basic_science_jss1_first_term` DISABLE KEYS */;
/*!40000 ALTER TABLE `basic_science_jss1_first_term` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `basic_science_jss1_second_term`
--

DROP TABLE IF EXISTS `basic_science_jss1_second_term`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `basic_science_jss1_second_term` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `basic_science_jss1_second_term`
--

LOCK TABLES `basic_science_jss1_second_term` WRITE;
/*!40000 ALTER TABLE `basic_science_jss1_second_term` DISABLE KEYS */;
/*!40000 ALTER TABLE `basic_science_jss1_second_term` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `basic_science_jss3_classwork_motion`
--

DROP TABLE IF EXISTS `basic_science_jss3_classwork_motion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `basic_science_jss3_classwork_motion` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `basic_science_jss3_classwork_motion`
--

LOCK TABLES `basic_science_jss3_classwork_motion` WRITE;
/*!40000 ALTER TABLE `basic_science_jss3_classwork_motion` DISABLE KEYS */;
/*!40000 ALTER TABLE `basic_science_jss3_classwork_motion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `christian_religious_studies_ss3_first_term`
--

DROP TABLE IF EXISTS `christian_religious_studies_ss3_first_term`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `christian_religious_studies_ss3_first_term` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `christian_religious_studies_ss3_first_term`
--

LOCK TABLES `christian_religious_studies_ss3_first_term` WRITE;
/*!40000 ALTER TABLE `christian_religious_studies_ss3_first_term` DISABLE KEYS */;
/*!40000 ALTER TABLE `christian_religious_studies_ss3_first_term` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `custom_subjects`
--

DROP TABLE IF EXISTS `custom_subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `custom_subjects` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `slug` varchar(80) NOT NULL,
  `label` varchar(120) NOT NULL,
  `category` varchar(20) NOT NULL DEFAULT 'both',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `custom_subjects`
--

LOCK TABLES `custom_subjects` WRITE;
/*!40000 ALTER TABLE `custom_subjects` DISABLE KEYS */;
/*!40000 ALTER TABLE `custom_subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `english_jss1_first_term`
--

DROP TABLE IF EXISTS `english_jss1_first_term`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `english_jss1_first_term` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `english_jss1_first_term`
--

LOCK TABLES `english_jss1_first_term` WRITE;
/*!40000 ALTER TABLE `english_jss1_first_term` DISABLE KEYS */;
INSERT INTO `english_jss1_first_term` VALUES (1,'\'Somachi is a boy\', identify the noun in this sentence','Somachi','is','a','boy','Somachi',NULL);
/*!40000 ALTER TABLE `english_jss1_first_term` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `english_ss1_first_term`
--

DROP TABLE IF EXISTS `english_ss1_first_term`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `english_ss1_first_term` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `english_ss1_first_term`
--

LOCK TABLES `english_ss1_first_term` WRITE;
/*!40000 ALTER TABLE `english_ss1_first_term` DISABLE KEYS */;
/*!40000 ALTER TABLE `english_ss1_first_term` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `english_ss3_assignment_exercise_on_nouns`
--

DROP TABLE IF EXISTS `english_ss3_assignment_exercise_on_nouns`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `english_ss3_assignment_exercise_on_nouns` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `english_ss3_assignment_exercise_on_nouns`
--

LOCK TABLES `english_ss3_assignment_exercise_on_nouns` WRITE;
/*!40000 ALTER TABLE `english_ss3_assignment_exercise_on_nouns` DISABLE KEYS */;
/*!40000 ALTER TABLE `english_ss3_assignment_exercise_on_nouns` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `english_ss3_assignment_exercise_on_verbs`
--

DROP TABLE IF EXISTS `english_ss3_assignment_exercise_on_verbs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `english_ss3_assignment_exercise_on_verbs` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `english_ss3_assignment_exercise_on_verbs`
--

LOCK TABLES `english_ss3_assignment_exercise_on_verbs` WRITE;
/*!40000 ALTER TABLE `english_ss3_assignment_exercise_on_verbs` DISABLE KEYS */;
/*!40000 ALTER TABLE `english_ss3_assignment_exercise_on_verbs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `english_ss3_first_term`
--

DROP TABLE IF EXISTS `english_ss3_first_term`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `english_ss3_first_term` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `english_ss3_first_term`
--

LOCK TABLES `english_ss3_first_term` WRITE;
/*!40000 ALTER TABLE `english_ss3_first_term` DISABLE KEYS */;
/*!40000 ALTER TABLE `english_ss3_first_term` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exam_attempts`
--

DROP TABLE IF EXISTS `exam_attempts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `exam_attempts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `student_name` varchar(120) NOT NULL,
  `student_class` varchar(20) NOT NULL,
  `subject` varchar(80) NOT NULL,
  `task_type` varchar(20) NOT NULL DEFAULT 'exam',
  `score` int(11) NOT NULL,
  `total_questions` int(11) NOT NULL,
  `time_spent_seconds` int(11) NOT NULL,
  `timed_out` tinyint(1) NOT NULL DEFAULT 0,
  `completed_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exam_attempts`
--

LOCK TABLES `exam_attempts` WRITE;
/*!40000 ALTER TABLE `exam_attempts` DISABLE KEYS */;
/*!40000 ALTER TABLE `exam_attempts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `further_mathematics_ss1_classwork_sets`
--

DROP TABLE IF EXISTS `further_mathematics_ss1_classwork_sets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `further_mathematics_ss1_classwork_sets` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `further_mathematics_ss1_classwork_sets`
--

LOCK TABLES `further_mathematics_ss1_classwork_sets` WRITE;
/*!40000 ALTER TABLE `further_mathematics_ss1_classwork_sets` DISABLE KEYS */;
INSERT INTO `further_mathematics_ss1_classwork_sets` VALUES (1,'If X = {2, 3, 4, 5} and Y = {1, 2, 3, 4}, What is the cardinality of X n Y, i.e n(X n Y)','3','2','4','5','3',NULL);
/*!40000 ALTER TABLE `further_mathematics_ss1_classwork_sets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `further_mathematics_ss2_first_term`
--

DROP TABLE IF EXISTS `further_mathematics_ss2_first_term`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `further_mathematics_ss2_first_term` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `further_mathematics_ss2_first_term`
--

LOCK TABLES `further_mathematics_ss2_first_term` WRITE;
/*!40000 ALTER TABLE `further_mathematics_ss2_first_term` DISABLE KEYS */;
/*!40000 ALTER TABLE `further_mathematics_ss2_first_term` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `further_mathematics_ss3_first_term`
--

DROP TABLE IF EXISTS `further_mathematics_ss3_first_term`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `further_mathematics_ss3_first_term` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `further_mathematics_ss3_first_term`
--

LOCK TABLES `further_mathematics_ss3_first_term` WRITE;
/*!40000 ALTER TABLE `further_mathematics_ss3_first_term` DISABLE KEYS */;
/*!40000 ALTER TABLE `further_mathematics_ss3_first_term` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `further_mathematics_ss3_others_mock_examination`
--

DROP TABLE IF EXISTS `further_mathematics_ss3_others_mock_examination`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `further_mathematics_ss3_others_mock_examination` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `further_mathematics_ss3_others_mock_examination`
--

LOCK TABLES `further_mathematics_ss3_others_mock_examination` WRITE;
/*!40000 ALTER TABLE `further_mathematics_ss3_others_mock_examination` DISABLE KEYS */;
/*!40000 ALTER TABLE `further_mathematics_ss3_others_mock_examination` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mathematics_ss1_assignment_functions_and_mapping`
--

DROP TABLE IF EXISTS `mathematics_ss1_assignment_functions_and_mapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mathematics_ss1_assignment_functions_and_mapping` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mathematics_ss1_assignment_functions_and_mapping`
--

LOCK TABLES `mathematics_ss1_assignment_functions_and_mapping` WRITE;
/*!40000 ALTER TABLE `mathematics_ss1_assignment_functions_and_mapping` DISABLE KEYS */;
INSERT INTO `mathematics_ss1_assignment_functions_and_mapping` VALUES (1,'if f(x) = 2x + 3 and g(x) = 3x -1, find fog','6x - 1','5x - 1','5x + 1','6x + 1','6x + 1',NULL);
/*!40000 ALTER TABLE `mathematics_ss1_assignment_functions_and_mapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mathematics_ss1_assignment_logarithms`
--

DROP TABLE IF EXISTS `mathematics_ss1_assignment_logarithms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mathematics_ss1_assignment_logarithms` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mathematics_ss1_assignment_logarithms`
--

LOCK TABLES `mathematics_ss1_assignment_logarithms` WRITE;
/*!40000 ALTER TABLE `mathematics_ss1_assignment_logarithms` DISABLE KEYS */;
INSERT INTO `mathematics_ss1_assignment_logarithms` VALUES (1,'use log tables to find 1099.2/12.34','89.08','89.07','90.76','90.67','89.08',NULL),(2,'use log table to find 100.78/54.9','3.988','1.835','1.875','7.456','1.835',NULL);
/*!40000 ALTER TABLE `mathematics_ss1_assignment_logarithms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mathematics_ss3_first_term`
--

DROP TABLE IF EXISTS `mathematics_ss3_first_term`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mathematics_ss3_first_term` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mathematics_ss3_first_term`
--

LOCK TABLES `mathematics_ss3_first_term` WRITE;
/*!40000 ALTER TABLE `mathematics_ss3_first_term` DISABLE KEYS */;
/*!40000 ALTER TABLE `mathematics_ss3_first_term` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mathematics_ss3_second_term`
--

DROP TABLE IF EXISTS `mathematics_ss3_second_term`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mathematics_ss3_second_term` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mathematics_ss3_second_term`
--

LOCK TABLES `mathematics_ss3_second_term` WRITE;
/*!40000 ALTER TABLE `mathematics_ss3_second_term` DISABLE KEYS */;
/*!40000 ALTER TABLE `mathematics_ss3_second_term` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `physics_ss1_assignment_work_energy_and_power`
--

DROP TABLE IF EXISTS `physics_ss1_assignment_work_energy_and_power`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `physics_ss1_assignment_work_energy_and_power` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `physics_ss1_assignment_work_energy_and_power`
--

LOCK TABLES `physics_ss1_assignment_work_energy_and_power` WRITE;
/*!40000 ALTER TABLE `physics_ss1_assignment_work_energy_and_power` DISABLE KEYS */;
/*!40000 ALTER TABLE `physics_ss1_assignment_work_energy_and_power` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `physics_ss3_first_term`
--

DROP TABLE IF EXISTS `physics_ss3_first_term`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `physics_ss3_first_term` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `physics_ss3_first_term`
--

LOCK TABLES `physics_ss3_first_term` WRITE;
/*!40000 ALTER TABLE `physics_ss3_first_term` DISABLE KEYS */;
/*!40000 ALTER TABLE `physics_ss3_first_term` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `physics_ss3_second_term`
--

DROP TABLE IF EXISTS `physics_ss3_second_term`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `physics_ss3_second_term` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `physics_ss3_second_term`
--

LOCK TABLES `physics_ss3_second_term` WRITE;
/*!40000 ALTER TABLE `physics_ss3_second_term` DISABLE KEYS */;
/*!40000 ALTER TABLE `physics_ss3_second_term` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `physics_ss3_third_term`
--

DROP TABLE IF EXISTS `physics_ss3_third_term`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `physics_ss3_third_term` (
  `number` int(11) NOT NULL,
  `question` mediumtext NOT NULL,
  `choice1` mediumtext NOT NULL,
  `choice2` mediumtext NOT NULL,
  `choice3` mediumtext NOT NULL,
  `choice4` mediumtext NOT NULL,
  `correct_answer` mediumtext NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `physics_ss3_third_term`
--

LOCK TABLES `physics_ss3_third_term` WRITE;
/*!40000 ALTER TABLE `physics_ss3_third_term` DISABLE KEYS */;
/*!40000 ALTER TABLE `physics_ss3_third_term` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-06 16:18:37
